@media screen and (min-width: 993px){
	body{
		width: 990px;
		margin: 0 auto;
	}
}

h1, h4{
	text-align: center;
}

p{
	display: inline-block;
}

.top{
    margin-top: 8%;
    height: 50px;
}

.year{
	display: inline-block;
	float: left;
    padding: 1em 0;
}

.statuses{
	display: inline-block;
	float: right;
	width: 52%;
}

.status{
	display: inline-block;
	color: blue;
    margin-left: 7%;
}

.squareUpwork::before, .squarePlannedWorks::before,
.squareInterruption::before, .squareIncident::before{
    content: '■';
    float: left;
    margin: -0.2em -1.2em;
    font-size: 104%;
}

.squareUpwork::before{
	color: green;
}

.squarePlannedWorks::before{
	color: blue;
}

.squareInterruption::before{
	color: yellow;
}

.squareIncident::before{	
	color: red;
}
.tick:after {
  content:"";
  display:block;
  clear:both;
}
.tick-tacks_info h4, .tick-tacks_info p{
	display: inline-block;
	font-weight: normal;
	margin: 20px 0 0 0;
}
.tick-tacks_info p{
	color: #adabab;
	font-size: 14px;
	margin-left: 30px;
}
.tick-tacks_block{
	display: block;
	list-style: none;
	width: 30px;
	color: #c1c1c1;
	float: left;
	padding: 0;
	margin-left: 3px;
	font-size: 14px;
}
li{
	text-align: center;
}
ul li.tick-tacks{
	display: block;
	width: 30px;
	height:8px;
	background: #e9e9e9;
	border-radius: 2px;
	margin-top: 5px;
}
ul.upwork li.tick-tacks{
	background: #8eb01e;
}
ul.incident li.tick-tacks{
	background: linear-gradient(to right, #8eb01e 20%, #ce4436 20%, #ce4436 50%, #8eb01e 50%);
}
ul.unactive{
	color: #e3e3e3;
}
ul.unactive li.tick-tacks{
	background: #f9f9f9;
}
.tick-tacks_detailed{
	padding: 30px 35px 30px 30px;
	background: #f9f9f9;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
}
.tick-tacks_detailed .info{
	float:left;
}
.tick-tacks_detailed .tick-tacks_line{
	float: right;
	width: 78%;
}
.tick-tacks_detailed .tick-tacks_line div{
	width: 100%;
	height:3px;
	background: #8eb01e;
	border-radius: 2px;
	margin-top: 25px;
}
.tick-tacks_detailed div:after {
  content:"";
  display:block;
  clear:both;
}

.group:after {
    content: "";
    display: table;
} 

.detailedInfo{
	display: inline-block;
	width: 20%;
}

.detailedInfo p:first-child{
	float: left;
	display: inline-block;
}
.detailedInfo p:last-child{
	float: right;
	display: inline-block;
}
.detailedStatic{
	display: inline-block;
    background: green;
    width: 78%;
    height: 4px;
    float: right;
    margin-top: 1.3em;
}

