@font-face{
    font-family: 'Circular Pro Bold';
    src: url('../fonts/CircularPro-Bold.eot');
    src: url('../fonts/CircularPro-Bold.woff') format('woff'), url('../fonts/CircularPro-Bold.ttf') format('truetype'), url('../fonts/CircularPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova-semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-light.otf');
    font-weight: normal;
    font-style: normal;
}
.mainBlockYear:nth-of-type(3)>.year{
	position: absolute;
	top: -40px;
}
body{
	margin: 0;
	position: relative;
}
.body{
    margin: 0 auto;
    width: 1020px;
    font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}
#ready-json{
	opacity: 0;
	overflow: hidden;
}
#preload{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.mainBlockforMobile{
	display: none;
}
.logoTop{
	margin-bottom: 40px;
	margin-top: 10px;
}
.logoTop:after {
    content: "";
    display: table;
    clear: both;
}

.statusPercent{
	text-align: right;
    margin-right: 7px;
    float: right;
    display: inline-block;
    margin-top: 55px;
    font-size: 16px;
}
.title, .statusPercent_item, .subscribe a{
	font-size: 16px;
	line-height: 1;
	font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
/*.title{
	font-size: 17px;
}*/
.statusPercent .titlePerc{
	color: #555;
}
h1{
	font-family: 'Circular Pro Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #205081;
	font-size: 60px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.aui-header-logo-hipchat{
	margin-top: 40px;
	float: left;
}
.aui-header-logo-hipchat .aui-header-logo-device{
	background-image: url(../images/title.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    text-indent: -9999px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    width: 324px;
    height: 65px;  
}
.title{
	margin-bottom: 10px;
	text-align: right;
}
p{
	display: inline-block;
}
.top{
    margin-top: 3%;
    height: 10px;
    color: #000;
}
.subscribe{
    color: #3572b0;
    position: relative;
    cursor: pointer;
    top: 9px;
  	right: 7px;
  	display: inline-block;
    margin-left: 20px;
}
.helpMenu .subscribe a{
	text-decoration: none;
	color: #3572b0;
}
.subscribe>a:visited{
	color: #3572b0;
}
.subscribe>a:hover{
	color: #3498db;
}
.helpMenu{
	text-align: right;
	margin-right: -7px;
}
.last_hours{
	line-height: 1px;
    padding: 13px 10px;
    float: right;
    color: #3572b0;
    position: relative;
    cursor: pointer;
}
.externalities-sms-container .phone-country{
	display: none;
}
.last_hours{
	padding-top:12px;
}
.components-container{
	margin: 20px 0px;
	font-size: 0;
}
.component-inner-container{
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: #68D636;
	height: 20px;
	font-weight: 500;
	position: relative;
}
.component-inner-container .name{
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 85%;
	font-weight: 500;
}
.component-container{
	width: 33.33333%;
	font-size: 16px;
	padding: 5px !important;
	box-sizing: border-box;
	display: inline-block;
}
.component-container .icon-indicator{
	float: right;
}
.component-inner-container .icon-indicator {
  	color: #4bb31a;
}
.component-inner-container .name::first-letter {
	text-transform: uppercase;
}
.ui-tooltip{
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 8px 4px 8px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  display: block;
}
.ui-tooltip:after{
	  content: "";
	  position: relative;
	  display: block;
	  width: 0;
	  height: 0;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  border-top: 6px solid #000;
	  top: 10px;
	  left: 50%;
	  margin-left: -4px;
}
.updates-dropdown{
	z-index: 100;
    width: 310px;
    position: absolute;
    top: 110px;
    right: 130px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
    border-radius: 4px;
}
.updates-dropdown-email-btn{
    border-top-left-radius: 4px;
}
.updates-dropdown-close-btn{
	border-top-right-radius: 4px;
}
.updates-dropdown-nav .icon-container{
	background-image: url(../images/externalities_dark.png);
	display: inline-block;
	margin-top: 11px;
}
.updates-dropdown-nav a.active .icon-container{
	background-image: url(../images/externalities_light.png);
}
.updates-dropdown-nav a{
    background-color: #f8f8f8;
    float: left;
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 34px;
    text-align: center;
    padding: 0px !important;
    width: 43.28px;
}
.updates-dropdown-nav a:hover{
	cursor: pointer;
}
.updates-dropdown-nav a.active{
	background-color: #666;
	border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}
.icon-container.email{
    width: 16px;
    height: 11px;
    background-position: -120px -40px;
}
.icon-container.sms{
    width: 13px;
    height: 13px;
    background-position: -140px -40px;
}
.icon-container.webhook{
    width: 20px;
    height: 12px;
    background-position: 0px -40px;
}
.icon-container.twitter{
    width: 16px;
    height: 13px;
    background-position: -60px -40px;
}
.icon-container.support{
    width: 15px;
    height: 13px;
    background-position: -20px -40px;
}
.icon-container.rss{
    width: 15px;
    height: 13px;
    background-position: -40px -40px;
}
.updates-dropdown-nav .updates-dropdown-close{
	color: #666;
	text-decoration: none;
	display: inline-block;
    line-height: 34px;
    font-weight: 700;
    font-size: 1.125rem; 
}
.updates-dropdown-nav a.active .updates-dropdown-close{
	color: #fff;
}
.updates-dropdown-sections-container .updates-dropdown-section{
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    padding: 16px;
    background-color: #fff;
    font-size: 14px;
    clear: both;
    line-height: 21.35px;
    color: #333;
    display: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.updates-dropdown-section input,
.updates-dropdown-section select{
	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    border: 1px solid #bbb;
    padding: 1px 10px 0;
    height: 40px;
    color: #666666;
    margin: 10px 0 0;
    width: 92%;
    font-size: 16px;
}
.updates-dropdown-section .flat-button{
	background-color: #106ecc;
	width: 100%;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}
.externalities-sms-container select{
	width: 100%;
	color: #000;
    vertical-align: middle;
}
.externalities-sms-container select option{
	font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.help-block{
    margin-top: 0;	
    margin-bottom: 0;
    color: #aaa;
    font-size: 12px;	
}
.help-block a, .help-block a:hover{
	color: #2491FF;
	text-decoration: none;    
} 
.updates-dropdown-sections-container .support,
.updates-dropdown-sections-container .atom{	
	text-align: center;    
}
.support a, .atom a, .twitter a{
	color: #106ecc;
	text-decoration: none;
}
div.year{
	display: inline-block;
	margin-bottom: 2%;
	font-size: 20px;
}
.mainBlockYear{
	margin-bottom: 3%;
	position: relative;
	clear: both;
}
.statuses{
	display: inline-block;
	float: right;
	width: 78%;
    text-align: right;
}
.status{
	display: inline-block;
	color: #3572b0;
	margin-left: 4%;
	font-size: 14px;
}
.squareUpwork::before, .squarePlannedWorks::before,
.squareInterruption::before, .squareIncident::before,
.squareSignificantDegradation::before{
    content: '■';
    float: left;
    margin: -0.15em -1.1em;
    font-size: 104%;
}
.squareUpwork::before, .statusUpwork{
	color: #8eb021;
	border-radius: 3px;
}
.squarePlannedWorks::before, .statusPlanned{
	color: #3872b0;
}
.squareInterruption::before, .statusInterruption{
	color: #f5c340;
}
.squareIncident::before, .statusOutage{	
	color: #ce4436;
}
.squareSignificantDegradation::before, .statusDegradation{
	color: #FF6600;
}
.mainBlockYear .tick{
	font-size: 0;
	margin-top: 5px;
}
.tick:after{
	content:"";
	display:block;
	clear:both;
}
.tick-tacks_info h4, .tick-tacks_info p{
	display: inline-block;
	font-weight: normal;
	margin: 20px 0 0 0;
	font-size: 14px;
}
.tick-tacks_info p{
	color: #adabab;
	font-size: 14px;
	margin-left: 30px;
}
ul.tick-tacks_block{
	display: inline-block;
	position: relative;
	list-style: none;
	width: 29px;
	height: 25px;
	color: #c1c1c1;
	padding: 0;
	margin-left: 4px;
	font-size: 14px;
	margin-bottom: 7px;
}
.mainBlockYear .tick-tacks_block li.active{
	padding: 1px;
	top: 13px !important;
    right: -2px !important;
    left: inherit;
    border-radius: 4px;
}
.tick-tacks_block:first-child{
	margin-left: 0;
}
li, td{
	text-align: center;
}
.tick-tacks_block .tick-tacks{
	display: block;
	width: 30px;
	height:8px;
	background: #e9e9e9;
	border-radius: 3px;
	margin-top: 5px;
}
ul.tick-tacks_block .tick-tacks:not(:first-child){
	position: absolute;
	top: 14px;
	left:0;
}
.upwork .tick-tacks{
	background: #8eb01e;
}
.unactive{
	visibility: hidden;
}
.unactive_tick li{
	color: #EDEDED;
}
.unactive_tick .tick-tacks{
	background: #f7f7f7;
}
.tick-tacks:hover{
	cursor: pointer;
}
.block_item_general{
	position: relative;
	z-index: 90;
}
.block_item{
	position: absolute;
	width: 100%;
	max-height: 5000px;
	z-index: 90;
}
.tick-tacks_detailed{
	background: #f9f9f9;
	position: relative;
	font-size: 14px;
	border-color: #e9e9e9;
	display: none;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 30px 35px 30px 0px;
	border: 1px solid #e9e9e9;
	overflow: visible;
	border-radius: 5px;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.tick-tacks_detailed.active{
	position: relative;
	display: block;
	margin-bottom: 4px;
	margin-top: 10px;
	padding: 30px 35px 30px 0px;
	border: 1px solid #e9e9e9;
	overflow: visible;
	opacity: 1;
	border-radius: 5px;
	transition: all linear 1.2s;
	-webkit-transition: all linear 1.2s;
}
.mainBlockforMobile .tick-tacks_detailed.active{
	display: block;
	padding-top: 0;
}
.tick-tacks_detailed.active:after, .tick-tacks_detailed.active:before{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 1000 !important;
}
.tick-tacks_detailed.left:after, .tick-tacks_detailed.left:before{
	left: 50%;
}
.tick-tacks_detailed.active:after{
	border-color: rgba(249, 249, 249, 0);
	border-bottom-color: #f9f9f9;
	border-width: 10px;
	margin-left: -10px;
}
.tick-tacks_detailed.active:before{
	border-color: rgba(233, 233, 233, 0);
	border-bottom-color: #e9e9e9;
	border-width: 11px;
	margin-left: -11px;
}
.tick-tacks_detailed .info{
	float:left;
}
.tick-tacks_detailed .tick-tacks_line, .ongoing .tick-tacks_line{
	position: relative;
	float: right;
	width: 82%;
}
.ongoing .tick-tacks_line{
	width: 75%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 13px;
	text-align: left;
}
.ongoing .detailedInfo{
	width: 20%;
	position: relative;
	top: 1px;
}
.tick-tacks_detailed .tick-tacks_line div, .ongoing .tick-tacks_line div{
	width: 100%;
	height:3px;
	background: #8eb01e;
	border-radius: 2px;
	margin-top: 1em;
}
.tick-tacks_detailed .tick-tacks_line p, .ongoing .tick-tacks_line p{
	position: absolute;
	color: #adabab;
	font-size: 13px;
}
.ongoing{
	margin-top: 30px;
	width: 100%;
}
.ongoing .blockInfoIncident{
	width: 60%;
	margin-right:auto;
	margin-left: auto;
	margin-top: 20px;
}
.ongoing .titleOngoing{
	text-align: center;
}
.tick-tacks_line a{
	text-decoration: none;
}
.tick-tacks_line p:first-child{
	left: 57%;
	top: -17px;
}
.tick-tacks_line p:last-of-type{
	left: 84%;
	top: -17px;
}
.tick-tacks_detailed div:after{
	content:"";
	display:block;
	clear:both;
}
.tick-tacks_detailed .interruption{
	margin-top: 6px;
}
.tick-tacks_detailed .infoNoDate{
	text-align: center;
	color: #5d5d5d;
}
.tick-tacks_detailed .blockInfoIncident:not(:nth-child(3)),
.ongoing .blockInfoIncident:not(:nth-child(2)){
	margin-top: 35px;
}
.detailedInfo{
	display: inline-block;
	width: 15%;
	font-size: 14px;
	text-align: right;
}
.detailedInfo p:first-child{
	display: inline-block;
	color: #000;
}
.detailedInfo p:last-child{
	display: inline-block;
	color: #adabab;
	font-size: 14px;	
}
.detailedInfo p:last-child:first-letter{
	text-transform: uppercase;
}
.detailedInfo .percentDaily{
	float: right;
}
.hiddenTitle{
	display: none;
}
.tick-tacks_line .tick_info{
	display: block;
	color: #f5c340;
	font-weight: 900;
	margin-top: 15px;
}
.tick_info_detail, .detail{
	display: block;
	margin-top: 15px;
	color: #5d5d5d;
}
.tick_info_detail span{
	display: block;
	margin-bottom: 10px;
}
.tick_info_detail h4{
	text-transform: uppercase;
	letter-spacing: 1px;
    line-height: 1.33438rem;
    font-size: 0.875rem;
}
.tick_info_detail span:last-child{
	margin-bottom: 0;
}
.detail{
	font-weight: normal;
	font-size: 14px;
	color: #adabab;
	margin-top: 5px;
}
.container{
	display: none;
}
.isInfo{
	display: block;
}
.ongoing .isInfo{
	display: table-row;
}
.noInfo{
	display: none !important;
}
.line{
	position: absolute;
	width: 100%;
	top: 30px;
	left: -7px;
}
.line .tick-tacks_line div{
	width: 96.6%;
}
.show_line{
	position: relative;
}
.line_styled{
	position: absolute;
	top: 0;
}
.grid .tick{
	stroke: lightgrey;
	opacity: 0.7;
	shape-rendering: crispEdges;
} 
.grid path{
	stroke-width: 0;
}
.axis path{
	fill: none;
	stroke: #bbb;
	shape-rendering: crispEdges;
} 
.axis text{
	fill: #555;
} 
#grafResize .x.axis text, #grafResize .y.axis text{
	font-size: 14px;
}
.axis line{	
	stroke: #e8e8e8;
	shape-rendering: crispEdges;
}
.axis .axis-label{
	font-size: 12px;
}
.line{
	fill: none;
	stroke-width: 1.7px;
}
.dot{
	position: relative;
	stroke-width: 2px; 
	cursor: pointer;
	fill: #fff;
}
.squere{
	position: absolute;
	left: 7px !important;
	stroke-width: 2px; 
	cursor: pointer;
	fill: #8eb01e;
}
.dot:hover{
	stroke: rgba(68, 127, 255, 0.3);
}
svg{
	display: block;
	margin: 70px auto 0 auto;
}
.area {
    /*fill: url(#area-gradient);*/
    stroke-width: 0;
    fill: rgba(230, 230, 230, 0.5);;
    /*opacity: 0.7;*/
}
#graf{
	display: block;
	width: 100%;
	margin: -25px auto 0 auto;
	position: relative;
}
h3#titleStableWork{
	display: none;
	text-align: center;
	color: #8eb01e;
    margin-top: 45px;
}
#grafResize, #grafResizePreload{
	display: none;
	width: 100%;
	margin: 40px auto 0 auto;
	position: relative;
}
.topMobile{
	display: none;
}
.infoLine{
	display: none;
	border-radius: 4px;
    background-color: #3498db;
    border: 1px solid #167abd;
    width: inherit;
    position: fixed;
    top: 5px;
    margin: 0 auto;
    z-index: 9999;
    line-height: 1.5rem;
    padding: 0.5em 0px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.infoLine span{
	margin-left: 15px;
}

.timeInfo{
	position: absolute;
	z-index: 100;
    width: auto !important;
    top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
    background-color: #f8f8f8 !important;
    border: 1px solid #e0e0e0;
    height: auto !important;
    color: #adabab;
}
.tooltip {
  position: absolute;
  pointer-events: none;
  background: #f9f9f9;
  max-width: 220px;
  color: #adabab;
  font-size: 14px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 10px;
  z-index: 1000;
}
.tooltip .tooltip_title{
	margin-bottom: 20px;
}
.tooltip .tooltip_title:last-child{
	margin-bottom: 0;
}
#grafHistogram{
	margin-top: 60px;
	position: relative;
}
#grafStyle{
	margin-top: 60px;
	position: relative;
	margin-bottom: 60px;
}
#grafHistogram .chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
}
#grafHistogram .axis path, #grafHistogram .axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 2px;
	border: 0;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 97%;
	left: 0;
}
body .wait{
    text-align: center;
    position: fixed;
    z-index: 1000;
    background: rgba(167, 167, 167, .8);
    font-size: 18px;
    top: 0;
    right: 0;
}
body .wait-spinner{
	width: 40px;
	height: 40px;
	background-image: url("../images/4681.gif");
	margin: 0 auto;
}
.wait-loader{
	position: relative;
	top: 3px;
	width: 15px;
	height: 15px;
	background-image: url("../images/468.gif");
	margin: 0 auto;
}
.wait-block{
	display: none;
	color: #adabab;
    font-size: 14px; 
}
#footer{
	font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #F5F5F5;
    padding: 40px 0px 1px;
    width: 100%;
    color: #333333;
    margin-top: 20px;
}
#footer .container-footer{
	width: 782px;
    margin: 0 auto;
}
#footer h5{
    font-size: 1.4rem;
    line-height: 1.988rem;
    margin-bottom: .4rem;
}
#footer p{
    margin-bottom: .65rem;	
    margin-top: 0;
    line-height: 1.42857;
    text-align:justify;
}
#footer a{
    text-decoration: none;
    color: #3572b0;
    cursor: pointer;
}
#footer a:hover,
#footer .footer-body a:hover{
	color: #3498db;
}
#footer .footer-body{
    font-size: 12px;
    line-height: 1.66667;
    margin: 60px 0 20px;
    min-height: 44px;
    padding: 10px 10px 21px;
    text-align: center;
}
#footer .footer-body ul{
	display: block;
    font-size: 0;
    list-style: none outside none;
    padding: 0;
    margin-bottom: 15px;
}
#footer .footer-body ul li{
	display: inline-block;
    font-size: 12px;
    line-height: 1.66667;
    padding: 0;
    white-space: nowrap;
}
#footer .footer-body > ul > li:first-child:after {
    content: "·";
    margin-left: 10px;
}
.footer-body > ul > li + li {
    margin-left: 10px;
}
#footer .footer-body a{
	color: #707070;
}
#footer-logo a {
    background: url(../images/atlassian.png) no-repeat scroll center bottom / 114px 24px rgba(0, 0, 0, 0);
    display: block;
    height: 24px;
    margin: 0 auto;
    text-align: left;
    text-indent: -9999em;
    width: 114px;
}
.notFinishMonth{
	display: none;
}
.showMoreMonths{
	text-align: center;
}
.showMoreMonths>input{
	border: none;
    background: #fff;
    color: #adabab;
    font-size: 14px;    
    outline: none;
    cursor: pointer;
}

#test .blockInfoIncident>div:nth-of-type(2)  .detailedInfo{
	display: none;
}
#test .detailedInfo{
	text-align: left;
    width: 25%;
    vertical-align: top;
    margin-top: -9px;
}
#test .detailedInfo p{
	font-size: 22px;
	color: #000;
	margin-left: 118px;
}
#test .blockInfoIncident>div:nth-of-type(2) .tick-tacks_line{
	text-align: center;
	margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
#test .tick-tacks_line{
	display: inline-block;
    width: 59%;
    margin-left: 40px;
    text-align: justify;
}
#test .tick_info{
    font-size: 36px;
}
#test .footerOfIncident{
    height: 50px;
    width: 76%;
    margin: 40px auto;
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
}
#test .footerOfIncident a{
    text-decoration: none;
    color: #adabab;
}
#test .footerOfIncident>a{
    color: #3572b0;
    float: left;
}
#test .footerOfIncident a:hover{
	color: #3498db;
}
#test .footerOfIncident>span{
    float: right;
    color: #adabab;
}
#test .postmorten{
	text-align: center;
	margin-bottom: 20px;
}
#test .postmorten .tick-tacks_line{
    width: 77%;
    margin-left: 14px;
    margin-right: 11px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 35px;
}
#test .tickTitle{
	font-size: 28px;
	font-weight: 400;
	color: #707070;
	margin-top: 0;
}
#test .tickTitle a{
	color: #707070;
}
#test .tickTitle a:hover{
	color: #3498db;
}
/*mobile version*/
@media screen and (max-width: 1100px){
	.body{
		width: 350px;
	}
	body h1{
		font-size: 50px; 
	}
	h1 .title{
		font-size: 18px;
	}
	.aui-header-logo-hipchat{
		margin-top: 30px;
		float: none;
		text-align: center;
	}
	.statusPercent{
		text-align: right;
		margin-bottom: 15px;
		margin-top: 25px;
		display: block;
		float: none;
	}
	.helpMenu{
		margin-top: 20px;
	}
	#graf, #grafPreload{
		display: none;
	}
	svg{
		display: block;
		margin: 30px auto 0 auto;
	}
	#grafResize{
		display: block;
	}
	#grafResizePreload{
		display: block;
	}
	.topMobile{
		display: block;
		width: 100%;
	}
	.statuses{
		display: block;
		margin: 25px auto 0 auto;
		text-align: center;
		float: none;
	}
	.all_statuses{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		text-align: center;
	}
	.status{
		margin-right: 25px;
		margin-bottom: -10px;
	}
	.component-container{
		display: block;
		width: 100%;
	}
	div.mainBlockYear, .top{
		display: none;
	}
	.mainBlockforMobile{
		display: block;
		width: 350px;
	  	margin: 40px auto;
	}
	.mainBlockforMobile table{
		width: 100%;
	}
	tr.tick-tacks_block{
		float: left;
  		padding: 0;
	}
	tr.tick-tacks_block td{
  		padding: 0;
	}
	tr.tick-tacks_block ul{		
		list-style: none;
		display: block;
		position: relative;
		width: 30px;
		height: 25px;
		color: #c1c1c1;
		float: left;
		padding: 0px 9px;
		font-size: 14px;
	}
	.tick-tacks_block .tick-tacks{
		position: absolute;
	}
	.title+.subscribe{
		margin-top: 17px;
	}
	.subscribe{
		display: block;
		margin-bottom: 15px;
	}
	.updates-dropdown{
	    top: 160px;
	    right: 0;
	}
	.tick-tacks_detailed:after, .tick-tacks_detailed:before{
		display: none;
	}
	.detailedInfo{
		width: 100%;
	  	padding: 0 14px;
	  	text-align: left;
	}
	.tick-tacks_detailed{
		background: none;
		border: none;
	}
	.tick-tacks_detailed .tick-tacks_line{
		padding: 0 14px;
		width: 100%;		
		float: left;
	}
	.tick-tacks_line .tick_info{
		margin-top: 0px;
	}
	.detailedInfo .status_incident{
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.tick-tacks_line .tick_info_detail{
		margin-top: 5px;
	}
	.detailedInfo .percentDaily{
		float: none;
		padding: 0 5px;
	}
	.mainBlockforMobile:not(:first-child) table{
		margin-top: 20px;
	}
	.ongoing .isInfo{
		display: flex;
    	flex-direction: column-reverse;
    	width: 350px;
	}
	.ongoing .detailedInfo {
		top: 0px;
		display: block;
		width: 100%;
		padding: 0px;
		text-align: center;
	}
	.ongoing .tick-tacks_line {
		width: 100%;
		padding-left: 0px;
		display: block;
		float: none;
		text-align: center;
	}
	.ongoing .tick-tacks_line .detail{
		display: inline-block;
		width: 68%;
		float: right;
		margin-bottom: -50px;		 
		text-align: left;
		margin-top: 15px;
	}	
	.ongoing .isInfo:not(:first-child) .tick-tacks_line{
		text-align: justify;
	}
	.ongoing .isInfo:not(:first-child) .detailedInfo{
		display: inline-block;
		width: 25%;
		margin-bottom: 15px;
	}
	.ongoing .isInfo:not(:first-child) .detailedInfo p{
		float: left;
	}
	.pervious_month span{
		font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding-left: 10px;
	}
	.pervious_month{
		color: #4682B4;
		cursor: pointer;
		margin-top: 25px;
		text-align: center;
	}
	.displayNone{
		display: none;
	}
	.displayBlock{
		display: block;
	}
	.tick-tacks_detailed.active .blockInfoIncident .isInfo:not(:first-of-type) .detailedInfo{
		margin-bottom: -15px;
	}
	.tick-tacks_detailed.active .blockInfoIncident .isInfo:nth-child(2)  .tick-tacks_line{
		padding-top: 14px;
	}
	#footer .container-footer{
	    width: 350px;
	}
	.showMoreMonths{
		display: none;
	}
	#test .postmorten .tick-tacks_line{
		width: 100%;
		margin-left: 0;
	}
	#test .isInfo .tick-tacks_line{
		width: 100%;
		margin-left: 0;
	    margin-bottom: 25px;
    	margin-top: -25px;
	}
	#test .footerOfIncident{
		width: 100%;
		text-align: center;
	}
	#test .footerOfIncident>a {
		float: none;
		padding-bottom: 5px;
		display: block;
	}
	#test .footerOfIncident>span{
		float: none;
		display: block;
	}
}


